{{- define "header" -}}
<!DOCTYPE html>
<html>

<head>
    <title>{{- .t.T "Hello, World" -}}</title>// FieldNode=[t, T], StringNode="txt"
</head>

<body>
    {{ "id2" | .XN "ctxt" "id" }}// Cmd | Cmd // StringNode | FieldNode=[XN], StringNode="ctxt", StringNOde="id"
    {{ .args | .XN "ctxt" "id" "id2" }}// FieldNode=[args] | FieldNode=[XN], StringNode=ctxt, id, id2
    {{ .XN "ctxt" "id" `id2` }}// FieldNode=[XN], StringNode=ctxt, id, id2
    {{- /* comment */ -}}
    {{ T `haha` }}// IdentifierNode=T, StringNode='haha'
    {{ `arg` | X "ctxt" "id" }}// StringNode | Ident=X, StringNode=ctxt, id
    {{ call T "haha" }}// Ident=call, Ident=T, String=haha
    {{ "haha" | T }}// String | Ident
    {{ "haha" | .t.T }}// String | Field=[t, T]

    {{ $arg := .arg | T "id" }}
    {{ $arg = T "id" }}
    {{ T ("id") }}// Ident PipeNode=() 不支持
    {{ or (T "id") (T "id") }}// Ident=or PipeNode=() PipeNode=()

    {{- end -}}

    1. PipeNode
    2. Cmd.Args FieldNode[last] > StringNode
    3. Cmd.Args Ident, Ident > String
    4. Cmd.Args has PipeNode -> 1.

    {{- define "footer" -}}
</body>

</html>
{{- end -}}