{{- template "header" . -}}
{{- template "title" .T "Title" -}}
{{- /*Comments*/ -}}

{{with $foo := .T "foo"}}
{{$foo}}
{{end}}
{{if .T "ok"}}
{{end}}
{{range .T "range"}}
<li>{{.}}</li>
{{end}}

{{ .T "Hello, World" }}
{{ .T "Hello, %v" }}
{{ .t.X "ctx" "Hello, World" }}
{{ .X "ctxt" "One apple" }}
{{ .X "ctxt" "One apple" }}
{{ .t.XN "ctxt" "One apple" "%v apples" }}
{{ .t.N "id1"
"id2" }}

{{- template "footer" . -}}