{{- template "header" . -}}

{{ .T "Hello, World" }}
{{ .T "Hello, %v" }}
{{ .t.X "ctx" "Hello, World" }}
{{ .X "ctxt" "One apple" }}
{{ .X "ctxt" "One apple" }}
{{ .t.XN "ctxt" "One apple" "%v apples" }}
{{ .t.N "id1"
"id2" }}

{{- template "footer" . -}}